#sidebar h3 {
  margin-top: 0;
  text-transform: uppercase;
}

#resultId {
  font-size: 36px;
  font-weight: 600;
  margin: 8px 0;
  line-height: 1.1;
}

#sidebar p {
  margin: 8px 0;
}

.history-item {
  cursor: pointer;
  padding: 4px 0;
}

.history-item:hover {
  text-decoration: underline;
}
